apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.nameOverride }}-config
  labels:
    app: {{ .Values.nameOverride }}
data:
  POSTGRES_HOST: {{ .Values.config.postgresHost | quote }}
  POSTGRES_PORT: {{ .Values.config.postgresPort | quote }}
  POSTGRES_DB: {{ .Values.config.postgresDB | quote }}
  POSTGRES_USER: {{ .Values.config.postgresUser | quote }}
  POSTGRES_SSL_MODE: {{ .Values.config.postgressSSLMode | quote }}
  SECRETS_PATH: "/secrets"
  POSTGRES_PASSWORD_FILE: "/secrets/db-password"
  JWT_SECRET_FILE: "/secrets/jwt-secret"
  PORT: {{ .Values.config.port | quote }}
